/* reset  */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.menu {
    position: relative;
}

.one, a {
    z-index: 1;
    position: absolute;
    right: 90px;
    top: 5px;
    text-decoration: none;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    line-height: 40px;
    text-align: center;
}

.two a {
    z-index: 1;
    position: absolute;
    right: 60px;
    top: 5px;
    text-decoration: none;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    line-height: 40px;
    text-align: center;
}

.three a {
    z-index: 1;
    position: absolute;
    right: 30px;
    top: 5px;
    text-decoration: none;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    line-height: 40px;
    text-align: center;
}

.product-one {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.product-two {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: green;
}

.product-three {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: yellow;
}

img {
    width: 70%;
    height: 60%;
}

.translate {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-transform: uppercase;
}

.yellow-text {
    font-size: 2em;
    color: yellow;
}

.green-text {
    font-size: 2em;
    color: green;
}